html {
    box-sizing: border-box;

}

body {
    font-family: 'Sawarabi Mincho', serif;
    margin: 0;
    padding: 0;
}

nav {
    border-bottom-style: 1px solid black;
    padding: 16px;
}

a {
    color:#FFAE00;
    text-decoration: none;
}

a:hover{
    color: #0C7D74;
}

.header-link a {
    color: white;
}

.header-link a:hover{
    color: #0C7D74;
}

header {
    background-color:#FFAE00;
    color: white;
}

main {
    margin-bottom: 3em;
    padding: 16px;
}

img {
    height: 200px;
}

th {
    text-align: left;
}

td {
    padding-right: 1.5em;
}

footer {
    background-color: #0C7D74;
    color: white;
    font-size: 20px;
    padding: 30px;
    position: relative;
    width: 100%;
}

.recipe-cards {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.row-stripes tr:nth-child(even) {
    background-color: #f2f2f2;
}

#header-labels {
    background-color: aliceblue;
}
